<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          New content has been added to the Assent Works tour.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Progress</div>
      <div class="item item-body">
        <div>
          Here is some stats about your progress on your panos.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have 4 assignments due this week.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
